
.bg-dark-teal {
    background-color: #264653;
}

.bg-light-teal{
    background-color: #2a9d8f;
}
.bg-dark-orange{
    background-color: #e76f51;
}
.bg-light-orange{
    background-color: #f4a261;
}
.bg-yellow{
    background-color: #e9c46a;
}

.text-light-teal{
    color: #2a9d8f;
}

.text-white{
    color: #fff;
}

.border-light-teal{
    border:.2rem solid #2a9d8f;
    border-radius: 10%;
}

.border-dark-teal{
    border: .2 remsolid #264653;
    border-radius: 10%;
}

.story-card{
    font-size: 1em;
    border: 1px solid #2a9d8f;
    margin: 5px;
    padding: 5px;
}

.story{
    white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.vote{
    color: #2a9d8f;
    text-decoration: none;
}