
.bg-dark-teal {
    background-color: #264653;
}

.bg-light-teal{
    background-color: #2a9d8f;
}
.bg-dark-orange{
    background-color: #e76f51;
}
.bg-light-orange{
    background-color: #f4a261;
}
.bg-yellow{
    background-color: #e9c46a;
}

.text-light-teal{
    color: #2a9d8f;
}
.text-dark-teal{
    color: #264653;
}
.text-light-orange{
    color: #f4a261;
}
.text-dark-orange{
    color: #e76f51;
}
.text-light-yellow{
    color: #e9c46a;
}
.text-white{
    color: #fff;
}

.border-light-teal{
    border:.2rem solid #2a9d8f;
    border-radius: 10%;
}

.border-dark-teal{
    border: 1px solid #264653;
    border-radius: 2%;
}

.story-card{
    border: 1px solid #2a9d8f;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.story-card p{
    font-size: .8em;
}


.story{
    white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.vote{
    color: #2a9d8f;
    text-decoration: none;
}

.comment-card{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.comment-card h3{
    color: #e76f51;
    font-size: 500;
}
.comment-card p{
    color: #264653;
    font-size: 300;
}

.link{
    color: #2a9d8f;
    text-decoration: none;
}
.link p {
    color: #000;
}

.comment-text-area{
    border: none;
}

.canvas{
    border: 1px solid black;
    display:block;
}

#prevCanvas{
    border-bottom: none;
}

.drawing{
    border: 1px solid black;
    border-radius: 1%;
}
.box{
    border: 1px solid black;
    border-radius: 1%;
}

.thumb-up{
    color:#2a9d8f;
    background: none;
    border:none;
}

.thumb-down{
    color:#e76f51;
    background: none;
    border:none;
}